asgiref==3.7.2
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
deep-translator==1.11.4
Django==5.0.2
gTTS==2.5.1
idna==3.6
packaging==24.0
pillow==10.3.0
pytesseract==0.3.10
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
urllib3==2.2.0
