body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.container {
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input[type="text"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow vertical resizing of textarea */
}

#settingsIcon {
    text-align: right;
    margin-bottom: 20px;
}

#settingsIcon img {
    cursor: pointer;
}

#settingsPanel {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Hide the settings panel by default */
#settingsPanel:not(.active) {
    display: none;
}
